sletat.ru/Service References/HotelServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56236/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService" />
  <xs:element name="GetHotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="GetHotelResult" nillable="true" type="q1:Hotel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>